.card {
    box-shadow: 
      /* -1px -1px 3px 0px rgb(255, 255, 255),  */
      0px 0px 1px 0px rgb(223, 223, 223), 
      1px 1px 1px 0px rgb(236, 236, 236);
    border-radius: 10px;
    /* width: 200px; */
    height: 99%;
    /* width: auto; */
    margin: 1px;
    /* transition: width 0.3s; */
    font-weight:bolder;
    inline-size: 150px;
    font-size: 80%;
    
    position: relative;
    min-height: 180px;
}

.user .card{
}

.card:hover {
  box-shadow: 
    0px 1px 3px 0px rgb(97, 97, 97),
    0px 0px 0px 1px rgb(207, 207, 207),
    0px 0px 0px 3px rgb(228, 228, 228)
    ;
        
}

.moduleLevel {
  color: rgb(189, 189, 189);
}

.moduleDetail {
  font-size: 2px;
  color: rgb(189, 189, 189);
}

.moduleCode {
  color: rgb(189, 189, 189);
}

.card .icons {
  position: absolute;
  bottom: 0;
  right: 0; 
  display:flex;
  
}


