.card {
    box-shadow: 1px 1px 10px 1px rgb(209, 209, 209);
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin: 2px;
    transition: width 0.3s;
}

.card:hover {
    box-shadow: 1px 1px 40px 10px rgb(209, 209, 209);
}