.module {
    
}

.moduleLevel {
    color: rgb(189, 189, 189);
}

.moduleDetail {
    font-size: 2px;
    color: rgb(189, 189, 189);
}

.moduleCode {
    color: rgb(189, 189, 189);
}

img {
    width: 100%;
    border-radius: 10px;
}

