.module {
    
}

.moduleLevel {
    color: rgb(189, 189, 189);
}

.moduleDetail {
    font-size: 2px;
    color: rgb(189, 189, 189);
}

.moduleCode {
    color: rgb(189, 189, 189);
}

img {
  
}

.module .icon img {
  width: 100%;
  border-radius: 10px;
}

.module img {
  /* width: 100px; */
  /* width: auto; */
  width: 100%;
  border-radius: 10px;
}