.users {
}

.user {
  inline-size: 300;
  // height: 220px;
}

.userThumbnail {
    width: 40px;
    border-radius: 100px;
    float: right;
}

div .cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.user .card {
  // height: 220px;
  color:#6f6f6f;
  font-size:10px;
  // width:100%;
  position: relative;
  display: inline-block;
  height: auto;
}

.user input {
  width: 97%;
  text-align: center;
  height: 99%;
  height:17px;    
}

.user button {
  box-shadow: 1px 1px 1px 0px rgb(209, 209, 209);
  height: 19px;
  margin-inline: 10px;
  padding-inline: 30px;
  margin-block: 4%;

  margin-left: auto;
  margin-right: 1%;
  float: right;
  font-weight: 1000;
}