.users {
}

.user {
  inline-size: 300;
  // height: 220px;
}

.userThumbnail {
    width: 40px;
    border-radius: 100px;
    float: right;
}

div .cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.user .card {
  // height: 220px;
  color:#6f6f6f;
  font-size:10px;
  // width:100%;
  position: relative;
  display: inline-block;
  height: auto;
}