.users {
}

.user {
  inline-size: 300;
  height: 220px;
}

.userThumbnail {
    width: 40px;
    border-radius: 100px;
}

div .cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 220px;
}